.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #626060;
  z-index: 9999;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #a9a2a2;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 0px #1a1a1a, 5px 5px 0px #181818, 7px 7px 0px #161616, 9px 9px 0px #141414, 11px 11px 0px #121212, 13px 13px 0px #101010, 15px 15px 0px #0e0e0e;
  margin-bottom: 2rem;
}


