label[for="file-input"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #666666;
  border: 2px dashed #cccccc;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

label[for="file-input"]:hover {
  border-color: #999999;
}

label[for="file-input"].file-selected {
  background-color: #4caf50;
  border-color: #4caf50;
}

label[for="file-input"].file-invalid {
  border-color: #ff0000;
}

.file-upload {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: black;
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.matrix-format-box {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

ol {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

pre {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}


i {
  margin-right: 5px;
}

input[type="file"] {
  display: none;
}

button[type="submit"] {
  background-color: #CCCCCC;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

button[type="submit"]:hover {
  background-color: #4CAF50;
}

button[type="submit"]:disabled {
  background-color: #CCCCCC;
  cursor: default;
}

label[for="file-input"].file-selected {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #FFFFFF;
}

button[type="submit"].file-selected {
  background-color: #4CAF50;
  border-color: #4CAF50;
}
