.file-upload {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: black;
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.matrix-format-box {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

ol {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

pre {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

label[for="file-input"] {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px dashed grey;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  outline: none;
  border-style: dashed;
  background-color: transparent;
}

label[for="file-input"]:hover {
  border-color: #999999;
}

label[for="file-input"].file-selected {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #FFFFFF;
}

label[for="file-input"].file-invalid {
  border-color: #ff0000;
}

input[type="file"] {
  display: none;
}

button[type="submit"] {
  background-color: #CCCCCC;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

button[type="submit"]:hover:not(:disabled) {
  background-color: #4CAF50;
}

button[type="submit"]:disabled {
  background-color: #CCCCCC;
  cursor: default;
}

label[for="file-input"].file-selected + button[type="submit"] {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

label[for="file-input"].file-invalid + button[type="submit"] {
  background-color: #FF0000;
  border-color: #FF0000;
}

label[for="file-input"].file-selected + button[type="submit"]:disabled {
  background-color: #CCCCCC;
  cursor: default;
}

.matrix-canvas {
  display: block;
  margin: 50px auto 30px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button-container button {
  margin: 5px;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}


.button-container button:hover {
  background-color: #2E8B57;
}

.mult-input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
}

.mult-input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px #4CAF50;
}

